html, body
{
    overflow-x: hidden;
}

main {
    background-color: rgb(255 234 234);
}

.nomargin
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.flip
{
    transform: scaleY(-1);
}

p {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 400;
    font-size: 18px; 
}


@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/futuraptbold-webfont.woff2') format('woff2'),
         url('../fonts/futuraptbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/futuraptheavy-webfont.woff2') format('woff2'),
         url('../futuraptheavy-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

/* Navigation and header START*/
.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(116, 49, 49);
}

.navbar-container {
    position: unset;
    top: 10px;
}

@media (min-width: 1350px) {
    header.navbar {
        margin: 0 10%;
    }
}

@media (min-width: 1000px) {
    .navbar-container {
        position: absolute;
    }
}
/* Navigation and header END */

section.page-heading .flickity-button
{
    top: 35% !important;
}

/* Landing page START*/
section.page-heading {
    padding-top: 0px;
    background-image: url(../images/bg-blob3.png);
    background-position: center left;
    background-repeat: no-repeat; 
    background-size: 10% auto;
}

h1.page-heading {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 900;
    font-size: 66px;
}

p.page-heading-text {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 35px;
}

.orange-text {
    color: #ff9f0d;
}

@media (min-width: 1000px) {
    section.page-heading {
        padding-top: 130px;
    }
}

@media (max-width: 1200px) {
    .page-heading-image {
        width: 75%;
    }
    
    main {
        background-size: 115% auto;
    }
}

.gradient-btn {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 100px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    padding: 10px 20px;
    text-decoration: inherit;
    color: white;
    cursor: pointer;
}

.gradient-btn.orange-btn {
    background: rgb(242,105,0);
    background: linear-gradient(90deg ,rgb(255 124 124) 26%, rgb(255 214 121) 100%, rgb(255 187 91) 100%);
    box-shadow: 0 5px 15px rgb(242 97 103 / 40%);
}

.gradient-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: black;
}

section.heading-title {
    height: 350px;
    width: 100%;
    margin-top: 0px;
}

@media (min-width: 1000px) {
    section.heading-title {
        margin-top: 130px;
    }
}

.heading-title::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../images/history/headerhistory.jpg);
    background-size: 100% auto;
    background-position: 100% 50%;
    filter: brightness(35%);
  }

.heading-title .title-container {
    z-index: 10;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

@media (max-width: 600px) {
    .heading-title::before {
        background-size: 150% auto;
        background-position: 35% 50%;
    }
}
