.nomargin
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.flip
{
    transform: scaleY(-1);
}

p {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 400;
    font-size: 18px; 
}


/* Navigation and header START*/
.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(116, 49, 49);
}

.navbar-container {
    position: unset;
    top: 10px;
}

@media (min-width: 1350px) {
    header.navbar {
        margin: 0 10%;
    }
}


main {
    background-color: rgb(255 234 234);
    background-image: url(../images/bg-blob5.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 72% auto;
    opacity: 1;
}

@media (min-width: 1000px) {
    .navbar-container {
        position: absolute;
    }
}
/* Navigation and header END */

section.page-heading .flickity-button
{
    top: 35% !important;
}

/* Landing page START*/
section.page-heading {
    padding-top: 0px;
    background-image: url(../images/bg-blob3.png);
    background-position: center left;
    background-repeat: no-repeat; 
    background-size: 10% auto;
}

h1.page-heading {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 900;
    font-size: 66px;
}

p.page-heading-text {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 35px;
}

.orange-text {
    color: #ff9f0d;
}

@media (min-width: 1000px) {
    section.page-heading {
        padding-top: 130px;
    }
}

@media (max-width: 1200px) {
    .page-heading-image {
        width: 75%;
    }
    
    main {
        background-size: 115% auto;
    }
}

.gradient-btn {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 100px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    padding: 10px 20px;
    text-decoration: inherit;
    color: white;
    cursor: pointer;
}

.gradient-btn.orange-btn {
    background: rgb(242,105,0);
    background: linear-gradient(90deg ,rgb(255 124 124) 26%, rgb(255 214 121) 100%, rgb(255 187 91) 100%);
    box-shadow: 0 5px 15px rgb(242 97 103 / 40%);
}

.gradient-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: black;
}
/* Landing page END*/

/* About us section START*/

.about-us 
{
    background-color: rgb(255, 255, 255);
    background-image: url(../images/honey-comb4.png), url(../images/honey-comb5.png);
    background-position: 91% 0%, 7px 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 16% auto, 10% auto;
}

@media (max-width: 1400px) {
    .about-us {
        background-position: 105% 1%, 7px 100%;
        background-size: 27% auto, 150px auto;
    }

    section.history {
        background-color: #ffeaea;
        background-image: url(../images/bg-blob6.png);
        background-repeat: no-repeat;
        background-position: top left;
    }
}


.about-us-heading p 
{
    color: #a4670c;
    font-weight: 1000;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about-us-heading h3 {
    font-family: "Nunito", arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

section.about-us .info-card {
    background-color: #ffeaea;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.24);
}

section.about-us .info-card h4 {
    font-family: "Nunito", arial, sans-serif;
    font-weight: bolder;
    font-size: 28px;
}
/* About us section END*/

/* History START */
section.history {
    background-color: #ffeaea;
    background-image: url(../images/bg-blob6.png);
    background-repeat: no-repeat;
    background-position: -10% 45%;
    background-size: 37% auto;
}

@media (max-width: 1200px) {
    section.history  {
        background-position: -58% 16%;
        background-size: 70% auto;
    }

}

/* History END */


/* information START */

section.contact-section {
    margin-top: 75px;
    position: relative;
}

section.contact-section h4 {
    font-family: "Ubuntu", arial;
    font-weight: bolder;
}

section.contact-section h5 {
    font-family: "Ubuntu", arial;
    color: gray;
    font-weight: bold;
}

section.contact-section h2 {
    color: #cb7a00;
}

section.contact-section::after{
    content:'';
    width: 85%;
    height: 3px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -42.5%;
    border-bottom: dashed #ffdbdb 5px;
    
}
/* information END */

/* interesting */

section.interesting-honey {
    margin-top: 100px;
}

section.interesting-honey .card-honey {
    height: 350px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: 101% 100%;
    
}

section.interesting-honey .card-facts {
    background-color: #ffdbdb; 
    background-image: url(../images/landingpage/bee-collecting-polen.png);
    background-size: 45% 100%;
}

section.interesting-honey .card-recipes {
    background-color: #ffd08a;
    background-image: url(../images/landingpage/honeynade.png);
    background-size: 45% auto;
}

section.interesting-honey .card-faq {
    background-color: #ffbb50; 
    border-radius: 100px; 
    height: 100%;
    background-image: url(../images/landingpage/Beekeeper.webp);
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: 0% 108%;

}